body {
    background-color: #ECEDF3;
}

form {
    background-color: white;
    border-radius: 8px;
}

.form-title h1 {
    width: 100%;
    border-bottom: 1px solid red;
    padding: 30px;
    margin-bottom: 50px;
    font-family: sans-serif;
    color: red;
    font-weight: bold;
}

.header-informacoes{
    color: red;
    border-bottom: 1px solid red;
    font-weight: bold;
}

label{
    margin: 10px 10px 0px 10px;
    color: red;
    font-weight: bold;
}

input{
    margin: 10px;
}

button{
    margin: 5px 10px 0px 10px;
}

select{
    margin: 10px;
}

.esconder-secao{
    display: none;
}

.btnPreview{
    display: none;
}